/* @section header */
header {
  background-color: var(--brand-color-gray-100);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.8rem;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  margin-right: 3.2rem;
}

header nav ul li {
  margin-left: 3.2rem;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav .btn {
  padding: 0.9rem 3.4rem;
}

header .menu-mobile {
  display: none;
}

/* @section section s-hero */
.s-hero {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
}

.s-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-hero .info {
  width: 100%;
  max-width: 64rem;
}

.s-hero .info h1 {
  margin-bottom: 2rem;
}

.s-hero .info p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--brand-color-gray-700);
  max-width: 48.8rem;
  margin-bottom: 5.6rem;
}

.s-hero .info .btn {
  padding: 1.75rem 3.45rem;
}

.s-hero .wallpaper {
  background-color: var(--brand-color-gray-100);
  width: 100%;
  max-width: 48.8rem;
  height: 49.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @section section s-main */
.s-main {
  background-color: var(--brand-color-gray-900);
  padding-top: 10.4rem;
  padding-bottom: 12rem;
}

.s-main p {
  color: var(--brand-color-white);
}

.s-main .info {
  display: flex;
  flex-direction: column;
}

.s-main .info.center {
  align-items: center;
}

.s-main .info h2 {
  margin-bottom: .8rem;
}

.s-main-block-top {
  border-bottom: .1rem solid rgba(255, 255, 255, .25);
  padding-bottom: 12.2rem;
}

.s-main-block-top .cards {
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
}

.s-main-block-top .card {
  background-color: rgba(28, 29, 31, .5);
  width: 100%;
  max-width: 38.4rem;
  height: 38.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.s-main-block-top .card-info {
  text-align: center;
  max-width: 28.8rem;
  margin-top: 4rem;
}

.s-main-block-top .card-info p {
  line-height: 150%;
  color: rgba(255, 255, 255, .7);
  margin-top: .8rem;
}

.s-main-block-top .card.light {
  background-color: var(--brand-color-white);
}

.s-main-block-top .card.light .card-info h3 {
  color: var(--brand-color-gray-900);
}

.s-main-block-top .card.light .card-info p {
  color: var(--brand-color-gray-700);
}

.s-main-block-bottom .info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11.2rem;
  margin-bottom: 5.6rem;
}

.s-main-block-bottom .gallery-image {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}

.s-main-block-bottom .image {
  background-color: var(--brand-color-gray-800);
  width: 100%;
  max-width: 17.6rem;
  height: 11.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @section section s-blockquote */
.s-blockquote {
  background-color: var(--brand-color-gray-800);
  padding-top: 15.2rem;
  padding-bottom: 15.2rem;
}

.s-blockquote .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.s-blockquote h2 {
  margin-bottom: 2rem;
}

.s-blockquote p {
  text-align: center;
  color: rgba(255, 255, 255, .7);
  line-height: 150%;
  max-width: 69.4rem;
  margin-bottom: 4rem;
}

.s-blockquote .btn {
  padding: 1.75rem 3.85rem;
}

/* @section footer */
footer {
  background-color: var(--brand-color-gray-900);
  padding-top: 8.8rem;
  padding-bottom: 3.9rem;
}

.s-footer-block-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: .1rem solid rgba(255, 255, 255, .2);
  padding-bottom: 7.2rem;
}

.s-footer-block-top-area-logo {
  width: 100%;
  max-width: 28.1rem;
}

.s-footer-block-top-area-logo p {
  font-size: 1.4rem;
  line-height: 150%;
  color: rgba(255, 255, 255, .7);
  margin-top: 3.5rem;
}

.s-footer-block-top-area-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 77.7rem;
}

.s-footer-block-top-area-nav h3 {
  font-size: 1.6rem;
  line-height: 125%;
  letter-spacing: -0.1rem;
  margin-bottom: 2.4rem;
}

.s-footer-block-top-area-nav li {
  margin-bottom: 3.2rem;
}

.s-footer-block-top-area-nav li:last-child {
  margin-bottom: 0;
}

.s-footer-block-top-area-nav a {
  font-family: var(--brand-font-secondary);
  font-size: 1.4rem;
  line-height: 105%;
  color: rgba(255, 255, 255, .7);
}

.s-footer-block-top-area-nav .social-networks a {
  display: flex;
  align-items: center;
}

.s-footer-block-top-area-nav .social-networks a img {
  margin-right: .8rem;
}

.s-footer-block-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, .7);
  padding-top: 4.2rem;
}

.s-footer-block-bottom p,
.s-footer-block-bottom .boost span {
  font-size: 1.4rem;
  line-height: 150%;
}

.s-footer-block-bottom .boost {
  display: flex;
  align-items: center;
}

.s-footer-block-bottom .boost img {
  margin-left: .8rem;
}