/* @section header */
header {
  background-color: var(--brand-color-gray-100);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.8rem;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  margin-right: 3.2rem;
}

header nav ul li {
  margin-left: 3.2rem;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav .btn {
  padding: 0.9rem 3.4rem;
}

header .menu-mobile {
  display: none;
}

/* @section section s-hero */
.s-hero {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
}

.s-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-hero .info {
  width: 100%;
  max-width: 64rem;
}

.s-hero .info h1 {
  margin-bottom: 2rem;
}

.s-hero .info p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--brand-color-gray-700);
  max-width: 48.8rem;
  margin-bottom: 5.6rem;
}

.s-hero .info .btn {
  padding: 1.75rem 3.45rem;
}

.s-hero .wallpaper {
  background-color: var(--brand-color-gray-100);
  width: 100%;
  max-width: 48.8rem;
  height: 49.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
