* {
  font-family: $brand-font-primary;
  font-size: 1.6rem;
  box-sizing: border-box;
  list-style: none;
  border: none;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

button,
a {
  background-color: transparent;
  cursor: pointer;
  color: $brand-color-black;
  display: inline-block;
}
